@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 1.25rem;
}

.container-xs {
  padding: 1.15% 15%
}

/* HEADER SECTION */

#header {
  background-color: #E98580;
  text-align: left;
}

#header .container-xs {
  padding: 1% 15% 7%;
}

.header-section {
  background-color: #E98580;
}

.header-quote {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3.50rem;
  line-height: 1.5
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-size: 2.50rem
}

.navbar-logo {
  background-image: url("../assets/img/luludog-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.nav-item {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  padding: 0 18px;
}

.header-img {
  width: 20%;
  height: auto;
  right: 25%;
  transform: rotate(20deg);
  position: absolute;
}

@media (max-width: 1028px) {
  .header-img {
    width: 60%;
    position: static;
    transform: rotate(0deg);
  }

  .header-quote {
    text-align: center;
  }

  .button-align {
    text-align: center;
  }
}

/* FEATURES SECTION */

#features {
  position: relative;
}

#features .container-xs {
  padding: 7% 10% 7%;
  text-align: center;
}

.features-section {
  background-color: #fff;
}

.feature-box {
  padding: 0 5%;
}

.icon {
  color: #E98580;
}

.icon:hover {
  color: #e04f4f;
}


/* TESTIMONIAL AND PRESS SECTION*/

#testimonials {
  padding: 5% 0;
  text-align: center;
}

.testimonial-section {
  background-color: #E98580;
  color: #fff;
}

.testimonial-text {
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
}

#press {
  background-color: #E98580;
  text-align: center;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 2% 2% 0;
}


/* PRICING SECTION*/
#pricing {
  padding: 10%;
  text-align: center;
}


/* CTA SECTION*/
#cta {
  background-color: #E98580;
  text-align: center;
}

.cta-section {
  padding: 9% 15% 9%
}

.cta-text {
  font-weight: 600;
}

footer {
  padding: 7% 0 7%;
  text-align: center;
}
